body {
    font-family: "Sono", sans-serif;
    background-color: #F8F8F8;
  }
  .pricing-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 100px;
    }

    .pricing-plan1{ 
      background-color: #86A6DF;
      flex: 0 0 400px;
      height: 700px;
      border-radius: 10px;

    }
    .pricing-plan2{ 
        background-color: #324E7B;
        flex: 0 0 400px;
        height: 700px;
        border-radius: 10px;
  
      }
      .pricing-plan3{ 
        background-color: #5068A9;
        flex: 0 0 400px;
        height: 700px;
        border-radius: 10px;
        
  
      }
    .plan-button{
    background-color:#DAC0A3;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 0.5rem;
    flex-shrink: 0; 
    margin-left: 165px;
  }
  .plan-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .plan-price{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }

  .plan-features{
    text-align: center;
    list-style-type: none;
    font-size: 1.2rem;
    margin-right: 45px;
  }


  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1400px) {
    .pricing-container{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .pricing-plan1{
        width: 400px;
        height: 700px;
    }
    .pricing-plan2{
        width: 400px;
    }    
    .pricing-plan3{
        width: 400px;
    }
  }